@import "bootstrap";

body {
    padding-top: 20px;
}

.custSendMsgButton {
    margin-right: 15px;
    float: right;
}

.successMessage {
    text-align: center;
}

html {
    overflow-y: scroll;
  }
  
  .library-item {
    min-height: 150px;
  } 

  .custDel{
      float: right;
  }