<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LibraryApp</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{content-for "head"}}

  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/library-app.css"> {{content-for "head-footer"}}
</head>

<body>
  {{content-for "body"}}


  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAfEyHucjE7AhTTLbZRNQ5XZ8oZW7lX_dY",
      authDomain: "library-app-4bf9f.firebaseapp.com",
      databaseURL: "https://library-app-4bf9f.firebaseio.com",
      projectId: "library-app-4bf9f",
      storageBucket: "library-app-4bf9f.appspot.com",
      messagingSenderId: "242513144515"
    };
    firebase.initializeApp(config);
  </script>
  <script src="{{rootURL}}assets/vendor.js"></script>
  <script src="{{rootURL}}assets/library-app.js"></script> {{content-for "body-footer"}}
</body>

</html>