<h1>Contacts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |contact|}}
    <tr>
      <th>{{contact.email}}</th>
      <td>{{contact.message}} <button class="btn btn-danger btn-xs custDel" {{action 'deleteContact' contact}}>Delete</button> </td>
    </tr>
  {{/each}}
  </tbody>
</table>