<h2>List</h2>

{{#each model as |library|}}
<div class="col-md-4">
  {{#library-item item=library}} 
    {{#link-to 'libraries.edit' library.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
    <button class="btn btn-danger btn-xs" {{action 'deleteLibrary' library}}>Delete</button>
  {{/library-item}}
</div>
{{/each}}