{{#if successMessage}}
<div class="alert alert-success successMessage">{{successMessage}}</div>
{{/if}}

<div class="form-group col-md-4">
    <label>Email address:</label>
    {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
</div>

<div class="form-group col-md-8">
    <label>Comment:</label>
    {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
</div>

<button type="button" class="btn btn-primary custSendMsgButton" disabled={{isDisabled}} {{action 'contactLibrary'}}>Send message</button>